*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width:100vw;
    height:100vh;
    margin: 0 auto;
    background: url(/images/defaultBG.webp) no-repeat center center fixed;
    background-size:cover;
}

h1{
    font-family: "inter", sans-serif;
    font-weight:bold;
    font-size:2rem;
}

h2{
    font-family: "inter", sans-serif;
    font-weight:10;
    padding-top:0.5vw;
    font-size:1rem;
    min-width: 2vw;
}

.sidebar{
    padding-left:2vw;
    padding-top:3vh;
    display:flex;
    flex-direction: column;
    width:100%;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  align-items: flex-start; /* make all columns align at the top */
  justify-content: center; /* center-align the columns */
}

.column {
  flex: 1 1 30vh;
  padding: 10px;
  box-sizing: border-box;
}

.column img {
  margin-top: 8px;
  width: 100%;
  display: block; 
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.image-container {
  max-width: 30%; /* Limit the container width */
  margin: auto; /* Center the container */
  text-align: left; /* Align text inside the container */
}

.img-responsive {
  max-width: 100%; /* Ensure the image scales to fit the container */
  height: auto; /* Maintain aspect ratio */
  display: block; /* Ensures no inline spacing issues */
}

.caption {
  color: #000000;
  font-family: "inter", sans-serif;
  font-size: 20px;
  padding: 8px 0; /* Add spacing above/below caption text */
  text-align: center;
  width:100%
}

span{
    position: fixed;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    pointer-events: none;
    z-index: -10;

    background: url(/images/speeder.webp) no-repeat;
    animation: taper 0.5s linear forwards;
}


@keyframes taper {
    0% {
        transform: scale(1);
        opacity: 0;
    }
    5% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(0);
        opacity: 0;
    }
}