/* #region CSS Reset */
body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
/* #endregion */

/* #region HEADER */
.header-container {
    display: flex;
    justify-content: space-between; /* Distributes space between items */
    align-items: center;
    background-color: #000000;
    opacity: 0.75;
    padding: 1.7vw 1.7vw; /* Adds space to both left and right sides */
    position: fixed;
    top: -100px; /* Initially hide it off-screen */
    width: 100%;
    z-index: 1000;
    box-sizing: border-box; /* Ensures padding doesn't affect width calculation */
    transition: top 0.3s ease; /* Smooth transition when header becomes visible */
}

.header-container.show-header {
    top: 0; /* Brings the header back into view */
}

.header-container a {
    font-family: 'Roboto';
    color: white;
    margin: 10px;
    font-size: 2.5vw;
    text-decoration: none;
    padding: 0 15px;
    text-align: center;
    white-space: nowrap; /* Prevents text wrapping */
}

.header-container a:first-child {
    margin-right: auto; /* Puts the first link to the left */
}

.header-container a:not(:first-child) {
    margin-left: 20px; /* Adds space between the links except the first */
}
/* #endregion */

/* #region BODY */
p {
    text-align: center;
    font-family: 'Arial';
    color: white;
    font-size: 2vw;
}
/* #endregion */

/* #region BANNER */
.banner-container {
    position: relative;
    width: 100%;
    height: 200px; /* Adjust this to your desired visible height */
    overflow: hidden; /* Hides the parts of the image that go beyond the container */
}

.banner-container img {
    position: absolute;
    top: -100px; /* Move the image up by 100px */
    left: 0;
    width: 100%; /* Ensures the image spans the full width */
}

.banner-title {
    position: absolute;
    top: 50%; /* Centers the title vertically */
    left: 50%; /* Centers the title horizontally */
    transform: translate(-50%, -80%); /* Fine-tunes centering by shifting it back */
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 5vw; /* Adjust the font size as needed */
    font-weight: bold;
    text-align: center;
    z-index: 1; /* Ensure the title is above the image */
  }

/* #endregion */

/* #region hotbar */
.hotbar {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: black;
  display: flex; /* Enable Flexbox */
  justify-content: space-evenly; /* Distributes space evenly between the links */
  align-items: center; /* Vertically centers the links */
  padding: 15px 0; /* Adds vertical padding for the links */
}

.hotbar a {
  color: white;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-size: 2vw; /* Adjust the font size as needed */
  padding: 0 30px;
}

.hotbar a:hover {
  opacity: 0.8; /* Optional: gives a hover effect */
}
/* #endregion */
