/* //////////// HEADER //////////// */
.header-container {
    display: flex;
    justify-content: space-between; /* Distributes space between items */
    align-items: center;
    background-color: #000000;
    opacity: 0.75;
    padding: 1.7vw 1.7vw; /* Adds space to both left and right sides */
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-sizing: border-box; /* Ensures padding doesn't affect width calculation */
  }
  
  .header-container a {
    font-family: 'Roboto';
    color: white;
    margin: 10px;
    font-size: 2.5vw;
    text-decoration: none;
    padding: 0 15px;
    text-align: center;
    white-space: nowrap; /* Prevents text wrapping */
  }
  
  .header-container a:first-child {
    margin-right: auto; /* Puts the first link to the left */
  }
  
  .header-container a:not(:first-child) {
    margin-left: 20px; /* Adds space between the links except the first */
  }
  
  p {
    text-align: center;
    font-family: 'Arial';
    color: white;
    font-size: 2vw;
  }
  


